FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8000
USE_MOCK_GENBLAZE=true

# Backblaze B2 Config
B2_ENDPOINT=https://s3.us-west-004.backblazeb2.com
B2_BUCKET=my-crowdvj-bucket
B2_KEY_ID=your_key_id
B2_APPLICATION_KEY=your_application_key
B2_PUBLIC_CDN_URL=https://f004.backblazeb2.com/file/my-crowdvj-bucket

# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key
